@model DataLayer.SendEmailViewModel
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Areas/assets/css/cutome.css" type="text/css" rel="stylesheet"/>
</head>
<style>
    #EmailImage{
        margin:auto;
        width:70%;
    }
</style>
<body>


    <div style="direction: rtl; padding: 20px">
        <img src="data:image/png;base64,@Model.Image64" style="display:block" alt="" class="imagePreview" id="EmailImage">
        <div style="text-align:right;margin-top">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
        </div>
    </div>
    
</body>
</html>