
@{
    ViewBag.Title = "UserNotActive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info" role="alert">
    حساب کاربری شما فعال نیست لطفا به ایمیل خود رفته و بر روی لینک فعال سازی کلیک کنید
</div>
