@{
    ViewBag.Title = "ShopPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">وبمارکت</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="shop.html">فروشگاه</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="shop.html">قالب بندی اصلی</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="push-up blocks-spacer">
        <div class="row">

            <!--  ==========  -->
            <!--  = Sidebar =  -->
            <!--  ==========  -->
            <aside class="span3 left-sidebar" id="tourStep1">
                <div class="sidebar-item sidebar-filters" id="sidebarFilters">

                    <!--  ==========  -->
                    <!--  = Sidebar Title =  -->
                    <!--  ==========  -->
                    <div class="underlined">
                        <h3><span class="light">بر اساس فیلتر</span> خرید کنید</h3>
                    </div>

                    <!--  ==========  -->
                    <!--  = Categories =  -->
                    <!--  ==========  -->
                    @Html.Action("CategoriesPartialView", "Shop")
                    <!--  ==========  -->
                    <!--  = Prices slider =  -->
                    <!--  ==========  -->
                    @*<div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#filterPrices">قیمت <b class="caret"></b></a>
                            </div>
                            <div id="filterPrices" class="accordion-body in collapse">
                                <div class="accordion-inner with-slider">
                                    <div class="jqueryui-slider-container">
                                        <div id="pricesRange" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
                                    </div>
                                    <input type="text"  class="min-val pull-right " disabled="">
                                    <input type="text"  class="max-val pull-left" disabled="">
                                </div>
                            </div>
                        </div>*@
                    @*<p>
                        <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" disabled />
                    </p>*@

                    @*<div id="slider-range"></div>*@
                     @*<script>
                         $(document)
                         function showProducts(minPrice, maxPrice) {
                             $(".Price_Range").fadeIn().filter(function () {
                                var price = parseInt($(this).data("price"), 10);
                                 return price >= minPrice && price <= maxPrice;
                             }).fadeOut();
                        }

                        $(function () {
                            var options = {
                                range: true,
                                min: 0,
                                max: 1000000,
                                values: [0, 1000000],
                                slide: function (event, ui) {
                                    var min = ui.values[0],
                                        max = ui.values[1];

                                    $("#amount").val(max + " تومان  " + "-" + min + "  تومان  ");
                                    showProducts(min, max);
                                }
                            }, min, max;

                            $("#slider-range").slider(options);

                            min = $("#slider-range").slider("values", 0);
                            max = $("#slider-range").slider("values", 1);

                            $("#amount").val(max + " تومان " + "-" + min + " تومان ");

                            showProducts(min, max);
                        });
                    </script>*@

                    <!--  ==========  -->
                    <!--  = Features filter =  -->
                    <!--  ==========  -->
                    @Html.Action("FeaturesPartialView", "Shop")
                    <a href="#" class="remove-filter" id="removeFilters" style="display: none;"><span class="icon-ban-circle"></span> حذف همه فیلتر ها</a>

                </div>
            </aside> <!-- /sidebar -->
            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span9">

                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
                <div class="underlined push-down-20">
                    <div class="row">
                        <div class="span5">
                            <h3><span class="light">همه</span> محصولات</h3>
                        </div>
                        <div class="span4">
                            <div class="form-inline sorting-by" id="tourStep4">
                                <label for="isotopeSorting" class="black-clr">چینش :</label>
                                <select id="isotopeSorting" class="span3">
                                    <option value="{&quot;sortBy&quot;:&quot;price&quot;, &quot;sortAscending&quot;:&quot;true&quot;}">بر اساس قیمت (کم به زیاد) ↑</option>
                                    <option value="{&quot;sortBy&quot;:&quot;price&quot;, &quot;sortAscending&quot;:&quot;false&quot;}">بر اساس قیمت (زیاد به کم) ↓</option>
                                    <option value="{&quot;sortBy&quot;:&quot;name&quot;, &quot;sortAscending&quot;:&quot;true&quot;}">بر اساس نام (صعودی) ↑</option>
                                    <option value="{&quot;sortBy&quot;:&quot;name&quot;, &quot;sortAscending&quot;:&quot;false&quot;}">بر اساس نام (نزولی) ↓</option>
                                    <option value="{&quot;sortBy&quot;:&quot;popularity&quot;, &quot;sortAscending&quot;:&quot;true&quot;}">بر اساس محبوبیت (کم به زیاد) ↑</option>
                                    <option value="{&quot;sortBy&quot;:&quot;popularity&quot;, &quot;sortAscending&quot;:&quot;false&quot;}">بر اساس محبوبیت (زیاد به کم) ↓</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> <!-- /title -->
                <!--  ==========  -->
                <!--  = Products =  -->
                <!--  ==========  -->
                <div class="row popup-products">
                    <div id="isotopeContainer" class="isotope-container isotope" style="position: relative; overflow: hidden; height: 3708px;">


                        @Html.Action("ProductPartialView", "Shop")


                    </div>
                </div>
                <hr>
            </section> <!-- /main content -->
        </div>
    </div>
</div>